body {
    background-color: lightblue;
  }
  
h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
} 
p {
    font-family: verdana;
    font-size: 20px;
}

a {
    font-family: verdana;
    font-size: 18px;
}

img{
    height: 50%;
    width: 50%;
    margin-left: 25%;
}